{{#with (lookup @root page)}}
  {{#each this.content}}
    {{#ifEquals type 'text'}}
      <p class="main__graf col-md-11">{{{ value }}}</p>
    {{/ifEquals}}

    {{#ifEquals type 'section'}}
      <h3 class="main__section futura-medium" id="{{slugify value}}">{{{ value }}}</h3>
    {{/ifEquals}}

    {{#ifEquals type 'aside'}}
      {{#with value}}
        {{#each this}}
        <aside class="main__aside futura-medium">{{{ value }}}</aside>
        {{/each}}
      {{/with}}
    {{/ifEquals}}

    {{#ifEquals type 'framework-img'}}
      <img src="assets/framework.png" alt="Graphic showing four step corruption framework" class="main__inline-img" />
    {{/ifEquals}}

    {{#ifEquals type 'img'}}
      <figure class="figure__full">
        <picture class="figure__img">
          <source data-srcset="{{value.url}}assets/{{value.name}}_1280.jpg" media="(min-width:850px)">
          <source data-srcset="{{value.url}}assets/{{value.name}}_900.jpg" media="(min-width:400px)">
          <source data-srcset="{{value.url}}assets/{{value.name}}_600.jpg" media="(min-width:1px)">
          <img class="lazyload" src="{{value.url}}assets/{{value.name}}_placeholder.jpg"
            data-srcset="{{value.url}}assets/{{value.name}}_placeholder.jpg" alt="{{value.alt}}" />
        </picture>
        {{!-- <figcaption class="full__caption benton-regular">{{value.caption}} ({{value.credit}})</figcaption> --}}
      </figure>
    {{/ifEquals}}

    {{#ifEquals type 'list'}}
      <ul class="main__graf--list col-md-11">
      {{#with value.points }}
        {{#each this}}
        <li class="main__graf--list-item">{{{ value }}}</li>
        {{/each}}
      {{/with}}
      </ul>
    {{/ifEquals}}

    {{#ifEquals type 'fade-list'}}
      {{> graphic/fade-list}}
    {{/ifEquals}}

    {{#ifEquals type 'questions' }}
      {{> graphic/questions value page=../../page}}
    {{/ifEquals}}

    {{#ifEquals type 'questions-chapter-2' }}
      {{> graphic/step-2-q-1 }}
    {{/ifEquals}}

    {{#ifEquals type 'box-img' }}
      {{> graphic/swiper-box value page=../../page}}
    {{/ifEquals}}

    {{#ifEquals type 'move-box'}}
      {{> graphic/move-box value}}
    {{/ifEquals}}

    {{#ifEquals type 'nav'}}
      <a href="{{ value.url }}" class="main__nav">{{{ value.text }}}</a>
    {{/ifEquals}}
  {{/each}}
{{/with}}
