{{#if boximage}}
  <div class="scrolly">
    <figure class="sticky">
      <h4 class="bold">{{{ boxtitle }}}</h4>
      <picture class="figure__img">
        <source data-srcset="{{ imgpath }}/assets/{{ boximage }}.jpg" media="(min-width:850px)">
        <source data-srcset="{{ imgpath }}/assets/{{ boximage }}.jpg" media="(min-width:400px)">
        <source data-srcset="{{ imgpath }}/assets/{{ boximage }}.jpg" media="(min-width:1px)">
        <img class="lazyload" src="{{ imgpath }}/assets/{{ boximage }}.jpg"
          data-srcset="{{ imgpath }}/assets/{{ boximage }}_placeholder.jpg" alt="{{value.alt}}" />
      </picture>
      <figcaption class="full__caption benton-regular"></figcaption>
    </figure>

    <div class="scrolly__steps">
      {{#each boxtext}}
        <div class="step">
          <p>{{{ value }}}</p>
        </div>
      {{/each}}
    </div>
  </div>
{{/if}}
